@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBg: #e5e5e1;
  --secondaryBg: #080807;
  --primaryTxt: #393632;
  --secondaryTxt: #cecec4;
  --subtitleTxt: #6b645c;
}
@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGrotesk-ExtraBold.ttf") format("truetype");
  src: url("fonts/OverusedGrotesk-Bold.ttf") format("truetype");
}
.nav-link {
  position: relative;
  display: inline-block;
  transition: 300ms;
}
.nav-link:hover {
  transform: translateY(-15px);
}
.nav-link::before {
  background-color: var(--primaryTxt);
  position: absolute;
  bottom: -8px;
  content: "";
  height: 8px;
  transition-duration: 300ms;
  cursor: pointer;
  width: 0%;
}
.nav-link:hover::before {
  width: 100%;
}
@media (max-width: 640px) {
  #home {
    min-height: 100vh !important;
    height: unset;
    padding: 30px;
  }
  #home h2 {
    font-size: 3rem;
    margin-right: 0;
    margin-top: -2.6rem;
    padding: 6px;
    line-height: 5rem;
  }
  #home-container {
    justify-content: center;
    min-height: 100vh !important;
    height: unset;
  }
  #home p {
    font-size: 1rem;
    padding: 10px;
    margin-left: 1rem;
  }
  #home ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5rem;
    font-weight: normal;
  }
  #home nav {
    top: 0;
    right: 0;
  }
}
@media (min-width: 641px) and (max-width: 1080px) {
  #home {
    min-height: 100vh !important;
    height: unset;
    padding: 30px;
  }
  #home h2 {
    font-size: 5rem;
    margin-top: -1rem;
    margin-bottom: 0.6rem;
    padding: 6px;
    line-height: 5rem;
  }
  #home-container {
    justify-content: center;
    min-height: 100vh !important;
    height: unset;
  }
  #home p {
    margin-top: 1rem;
    font-size: 1.4rem;
    padding: 10px;
  }
  #home ul {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 0.3rem;
    font-weight: normal;
  }
  #home nav {
    top: 0;
    right: 0;
  }
}

#home-ul {
  gap: 1.8rem;
  font-weight: bolder;
}
